/* this is for my nav.bar*/
.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: rgb(255, 0, 0);
    color: white;
}

/*search bar button stuff*/ 
/* Style of the search box inside the nav.bar */
.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: transparent;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
  .topnav .search-container button:hover {
    background: #ccc;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 10px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    
    }
}